<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="{{static '/css/mui.min.css'}}">
    <link rel="stylesheet" href="{{static '/css/about.css'}}">
</head>
<body>
<header><img src="{{static '/img/logo.png'}}" alt="Meadowlark Travel Logo"></header>
    <script src="{{static '/js/mui.min.js'}}"></script>
<script>
    var static = {
        logo: '{{static '/img/logo.png'}}'
    }
</script>
    {{{_sections.jquery}}}
    {{{body}}}
</body>
</html>