<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="{{static '/css/about.css'}}">
</head>
<body>
<header><img src="{{static '/img/logo.jpg'}}" alt="Meadowlark Travel Logo"></header>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    {{{_sections.jquery}}}
    {{{body}}}
</body>
</html>